#button {
    text-align: left;
    margin-top: 15px;
    background-color: #0e4094;
    border-color: #0e4094;
  }

  #form {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
  }

  #fname, #lname, #seminar, #date_label {
    font-weight: bold;
  }